body {
  min-height: 100vh;
  margin: 0;
}

.header {
  display: flex;
  background-color: #e5e5e5;
  justify-content: center;
  min-height: 10vh;
  padding: 20px;
  margin: 0;
}

.header h1 {
  font-size: 32px;
}

.main {
  display: grid;
  grid-template-columns: 280px 1fr 280px;
  grid-template-rows: 100px 550px 1fr;
  grid-template-areas:
    ". info ."
    "vsbox game winnercircle"
    ". . .";
  background-color: #14213d;
  padding: 20px;
  height: 80.8vh;
  margin: 0;
}

.infobox {
  grid-area: info;
  display: flex;
  flex-direction: row;
  padding: 30px;
  background-color: #ffffff;
  width: 600px;
  height: 70px;
  place-self: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: solid 2px black;
  border-radius: 25px;
}

.fields {
  border: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.fields2 {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startGameButton {
  height: 40px;
  width: 70px;
  font-weight: bold;
  font-size: large;
}

.newGameButton {
  height: 50px;
  width: 80px;
  font-weight: bold;
  font-size: large;
}

.vsbox {
  grid-area: vsbox;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #fca311;
  height: 450px;
  width: 180px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  place-self: center;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.vsbox h2,
.vsbox h3 {
  font-size: 28px;
}

.winbox {
  border: solid 4px #14213d;
  height: 70px;
  width: 70px;
  font-size: 30px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play {
  grid-area: game;
  height: 450px;
  width: 450px;
  background-color: #e5e5e5;
  padding: 30px;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3 1fr);
  gap: none;
  column-gap: none;
  margin: auto;
  place-content: center; */

  display: flex;
  flex-wrap: wrap;
  gap: none;
  justify-content: center;
  place-self: center;
  row-gap: none;
}

.box {
  border: 1px solid #14213d;
  border-collapse: collapse;
  box-sizing: border-box;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: black;
  margin-left: -1px;
  margin-bottom: -1px;
}

.winnercircle {
  grid-area: winnercircle;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #fca311;
  height: 450px;
  width: 180px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  place-self: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 30px;
}
